.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.storybook-button--primary {
  color: white;
  background-color: #3b82f6;
}
.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}

.lama {
  display: none;
}

@media (min-width: 1440px) and (max-width: 1500px) {
  .lama {
    display: block;
  }
} 


@media (min-width: 1900px) {
  .storybook-button--primary.flaky {
    background-color: orange;
  }
}


@media (prefers-color-scheme: dark) {
  .storybook-button--primary {
    color: white;
    background-color: #4f46e5;
  }
  .storybook-button--secondary {
    color: #1a1a1a;
    background-color: #e2e8f0;
    box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 0px 1px inset;
  }
}